[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
click = "*"
loguru = "*"
pytz = "*"
boto3 = "*"
boto3_type_annotations_with_docs = "*"

black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
freezegun = "*"
moto = "*"

[packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
